.container{
    margin: 0 auto;
    position: relative;
    width: auto;
}
.hero-body {
    background: linear-gradient(135deg,  rgb(24, 138, 204),rgb(14, 118, 163), rgb(33, 1, 9));
    padding: 5rem 4.5rem;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    
}
.title{
    font-size: 3rem;
    color: white;  
}

.subtitle{
    font-size: 1.5rem;
}

.card {
    margin-top: 3rem;
}

section{
    padding: 1.5rem;
    margin:0 auto;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 70%;
}

section h2{
    padding-bottom: 2rem;
}

footer{
    padding: 3rem 3rem;
    background: linear-gradient(135deg,  rgb(255, 255, 255),rgb(144, 144, 144));
}

.content-res{
    margin: 3rem 3rem;
}

.content-res li {  
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
